{% load static %}
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Adding New Task | Brahim/Hamza </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">New Task</div>
    <div class="content">
      <form action="{% url 'results' %}" method="post" id="myForm">
        {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
            <span class="details">Name Of Scan</span>
            <input type="text" name="name"   placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details">Scan Target(s)</span>
            <input type="text" name="ip_address" maxlength="15" placeholder="IP Address" required="" id="id_ip_address">
          </div>
          <div class="input-box">
            <label for="end_time">Commence l'exécution à </label>
            
            <input type="datetime-local" id="start_time" name="start_time" >
            <br>
            <label for="recurrence">Récurrence</label>
            <select id="recurrence" name="recurrence">
            <option value="monthly">Mensuelle</option>
            <option value="daily">Quotidienne</option>
            <option value="weekly">Hebdomadaire</option>
            <option value="yearly">Annuelle</option>
            <option value="none">Une seule fois</option>
            </select>
            <br>
          </div>
          <div class="input-box">
            <span class="details">Scan Type</span>
            <select name="scan_type" id="id_scan_type">
                <option value="-sT">Tcp ping</option>
                <option value="-O">OS detection</option>
               <option>Log4Shell</option>
              </select>
          </div>
        
          <div class="input-box">
            <span class="details">Data Base</span>
            <select name="dataBase" id="id_dataBase">
              <option value="Simple Scan">Simple Scan</option>
                <option value="vuln">Vuln</option>
                <option value="vulners">Vulners</option>
                <option value="vulnscan">VulnScan</option>
              </select>
          </div>
        </div>  
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>

</body>
</html>