{% load static %}
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Adding New Task | Brahim/Hamza </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">New Task</div>
    <div class="content">
      <form action="{% url 'results' %}" method="post" id="myForm">
        {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
            <span class="details">Name Of Task</span>
            <input type="text" name="name"   placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="input-title" >Scan Target(s)</span> <span> <a href="{%url 'NewTarget' %}">New Target</a></span>
            
            <select name="target" id="id_target" required>
              {% for choice in targets %}
              <option value="{{ choice.id }}">
                  {{ choice.Target_Name }} 
              </option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="user-details">
        <div class="input-box">
          <span class="input-title">Schedule</span>  <a href="{%url 'NewSchedule' %}"> New Schedule</a>
          
          <select name="schedule" id="id_schedule" required>
            <option value="Now">None</option>
            {% for choice in choices %}
            <option value="{{ choice.id }}">
                {{ choice.Schedule_Name }} 
            </option>
            {% endfor %}
        </select>
        <br>
        <p>Please check if you want to perform the scan now</p>
        <div class="input-box">
        <input type="checkbox" id="id_schedule" name="checkbox" value="Now" >
        <label for="id_schedule" >Now</label>
 </div>
      </div>
      
          <div class="input-box">
            <span class="input-title">Scan Configuration</span>  <a href="{%url 'NewScanConf' %}">New Scan Conf</a>
          
            <select name="Configuration" id="id_Configuration">
              {% for choice in scans %}
              <option value="{{ choice.id }}">
                  {{ choice.Scan_Name }} 
              </option>
              {% endfor %}
          </select>
          </div>
        </div>  
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>

  {% if form.errors %}
  <div>
      <h2>Form Errors:</h2>
      <ul>
          {% for field, errors in form.errors.items %}
              {% for error in errors %}
                  <li>{{ field }}: {{ error }}</li>
              {% endfor %}
          {% endfor %}
      </ul>
  </div>
{% endif %}
</body>
</html>