{% load static %}
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Adding New Task | Brahim/Hamza </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">New Task</div>
    <div class="content">
      <form action="{% url 'results' %}" method="post" id="myForm">
        {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
            <span class="details">Name Of Task</span>
            <input type="text" name="name"   placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details">Scan Target(s)</span>
            <select>
              {% for choice in targets %}
              <option value="{{ choice.Target_Name }}">
                  {{ choice.Target_Name }} 
              </option>
              {% endfor %}
          </select>
          </div>
          <div class="input-box">
            <span class="details">Schedule</span>
            <select>
              {% for choice in choices %}
              <option value="{{ choice.Schedule_Name }}">
                  {{ choice.Schedule_Name }} 
              </option>
              {% endfor %}
          </select>
          </div>
          <div class="input-box">
            <span class="details">Scan Type</span>
            <select name="scan_type" id="id_scan_type">
                <option value="-sT">Tcp ping</option>
                <option value="-O">OS detection</option>
               <option>Log4Shell</option>
              </select>
          </div>
        
          <div class="input-box">
            <span class="details">Data Base</span>
            <select name="dataBase" id="id_dataBase">
              <option value="Simple Scan">Simple Scan</option>
                <option value="vuln">Vuln</option>
                <option value="vulners">Vulners</option>
                <option value="vulnscan">VulnScan</option>
              </select>
          </div>
        </div>  
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>

</body>
</html>