{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Dashboard EMP VAS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'css/dashboard/style.css' %}">
  </head>
  <body >
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
				<div class="p-4">
		  		<h1><a href="index.html" class="logo">EMP VAS <span>Dashboard</span></a></h1>
	        <ul class="list-unstyled components mb-5">
	          <li class="active">
	            <a href="{%url 'index' %}"><span class="fa fa-home mr-3"></span> Home</a>
	          </li>
	          <li>
	              <a href="{% url 'Scans' %}"><span class="fa fa-user mr-3"></span> Scan</a>
	          </li>
	          <li>
              <a href="#"><span class="fa fa-briefcase mr-3"></span> Target</a>
	          </li>
	          <li>
              <a href="#"><span class="fa fa-sticky-note mr-3"></span> Schedule</a>
	          </li>

	          <li>
              <a href="{% url 'VulnResults' %}"><span class="fa fa-cogs mr-3"></span> Vulnerabilities</a>
	          </li>
	          <li>

              <li>
                <a href="{% url 'VulnResults' %}"><span class="fa fa-cogs mr-3"></span> Results</a>
              </li>
              <li>
              <a href="#"><span class="fa fa-paper-plane mr-3"></span> Contacts</a>
	          </li>
	        </ul>


	      </div>
    	 </nav>


       <!--$%adsense%$-->
       <div class="table-wrap" style="padding-left: 100px; width: 100%;">
         <!-- Start DEMO HTML (Use the following code into your project)-->
         <table id="example" class="table table-striped" >
            <thead>
                <tr>
                    <th>Vulnerability</th>
                    <th>sevérité</th>
                    <th>Type de vuln</th>
                    <th>Is Exploitable</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for port_info in ports_info %}
                <tr>
                    <td>{{ port_info.vulnerability }}</td>
                    <td>{{ port_info.severity }}</td>
                    <td>{{ port_info.type }}</td>
                    <td>{{ port_info.is_exploit }}</td>
                    <td><button class="toggle-details" data-details="{{ port_info.description }}">Toggle Details</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
         <!-- END EDMO HTML (Happy Coding!)-->
        </div>
      </div>
      <!-- jQuery -->
<script src='https://code.jquery.com/jquery-3.7.0.js'></script>
<!-- Data Table JS -->
<script src='https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js'></script>
<script src='https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js'></script>
<script src='https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js'></script>
      <!-- Script JS -->

      <!--$%analytics%$-->
      <script src="{% static 'js/main.js' %}"></script>
      
      <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>









     